






<h1 class=' text-success'  style='text-shadow: 4px 2px  mistyrose'>


  Liste des utilisateurs

    </h1>
    <div class="container">
      <div class="row">
     <div class="col-md-3">


  <br><br><br><br>
         <button    (click)="trier('nom')" class='btn btn-secondary ' >
            Trier par nom
         </button>
     <br> <br> <br>
       <button  (click)='trier("prenom")' class='btn btn-secondary ' >
          Trier par prenom
       </button>


     </div>
     <div class="col-md-6">
        <ul  class="list-group">

            <li     class="list-group-item  m-2    "   style='border-radius: 12px' *ngFor="let user of showedUsers   " >

              <h6>     Nom :  {{user?.nom}}  </h6>

              <h6>    Prenom :    {{user?.prenom}}  </h6>
                <button class='btn btn-info '  (click)=' handleClick(user)'>
                    show more ...
                    <i class="fa fa-info fa-lg " aria-hidden="true">


                    </i> </button>

            </li>
          </ul>
     </div>
     <div class="col-md-3">


     </div>

      </div>



    </div>





    <style>
        .footer {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;


        }
        </style>

        <div class="footer">

            <button   [disabled]='startIndex <=0 '  (click)="prev()"  class="btn btn-success m-2 p-2"   >

                <i class="fa fa-arrow-left" aria-hidden="true">   </i>  Previous Page
            </button>
            <button    [disabled]='endIndex >= users?.length '  (click)="next()"  class="btn btn-success m-2 p-2" style='float:right;'>
                Next Page   <i class="fa fa-arrow-right" aria-hidden="true"></i>

            </button>
        </div>



